APP_NAME=
CONTAINER_PREFIX=
SUPABASE_HOST=
POSTGRES_PASSWORD=
JWT_SECRET=
ANON_KEY=
SERVICE_ROLE_KEY=
DASHBOARD_USERNAME=
DASHBOARD_PASSWORD=
SECRET_KEY_BASE=
VAULT_ENC_KEY=
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_PORT=
POOLER_PROXY_PORT_TRANSACTION=
POOLER_DEFAULT_POOL_SIZE=
POOLER_MAX_CLIENT_CONN=
POOLER_TENANT_ID=
KONG_HTTP_PORT=
KONG_HTTPS_PORT=
PGRST_DB_SCHEMAS=
SITE_URL=
ADDITIONAL_REDIRECT_URLS=
JWT_EXPIRY=
DISABLE_SIGNUP=
API_EXTERNAL_URL=
MAILER_URLPATHS_CONFIRMATION=
MAILER_URLPATHS_INVITE=
MAILER_URLPATHS_RECOVERY=
MAILER_URLPATHS_EMAIL_CHANGE=
ENABLE_EMAIL_SIGNUP=
ENABLE_EMAIL_AUTOCONFIRM=
SMTP_ADMIN_EMAIL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_SENDER_NAME=
ENABLE_ANONYMOUS_USERS=
ENABLE_PHONE_SIGNUP=
ENABLE_PHONE_AUTOCONFIRM=
STUDIO_DEFAULT_ORGANIZATION=
STUDIO_DEFAULT_PROJECT=
STUDIO_PORT=
SUPABASE_PUBLIC_URL=
IMGPROXY_ENABLE_WEBP_DETECTION=
OPENAI_API_KEY=
FUNCTIONS_VERIFY_JWT=
LOGFLARE_LOGGER_BACKEND_API_KEY=
LOGFLARE_API_KEY=
DOCKER_SOCKET_LOCATION=
GOOGLE_PROJECT_ID=
GOOGLE_PROJECT_NUMBER=
DOCKER_CONFIG=