# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production build
dist/
build/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git
.git/
.gitignore

# Documentation
*.md

# Docker
Dockerfile
.dockerignore

# Development files
.eslintcache
.parcel-cache/